<nav class="flex w-1/5">
    <div class="w-56 p-2 h-screen bg-gradient-to-b from-green-500 to-teal-500 fixed top-0">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-semibold whitespace-nowrap font-pacifico text-white ml-6">
                Cartify
                <i class="fa-solid fa-cart-shopping"></i>
            </h1>
            
        </div>
        <h2 class="text-md py-2 px-12 text-white font-bold hidden md:block">Admin Page</h2>
        <ul class="mt-8">
            <li>
              <%= link_to admin_path, class: "block px-4 py-2 hover:bg-green-300 rounded text-white text-left flex items-center" do %>
                <%= image_tag("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='white' width='16' height='16' class='mr-2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184' /%3E%3C/svg%3E".html_safe, class: "inline-block align-middle") %>
                <span class="hidden md:inline-block ml-2">Dashboard</span>
              <% end %>
            </li>
            <li>
                <%= link_to admin_products_path,class:"block px-4 py-2 hover:bg-green-300 rounded text-white text-left" do%>
                    <i class="fa-brands fa-product-hunt"></i>
                    <span class="hidden md:inline-block">Products</span>
                <%end%>
            </li>
            <li>
                <%= link_to admin_categories_path,class:"block px-4 py-2 hover:bg-green-300 rounded text-white text-left" do%>
                    <i class="fa-solid fa-list"></i>
                    <span class="hidden md:inline-block">Categories</span>
                <%end%>
            </li>

            <li>
               <%= link_to admin_orders_path, class: "block px-4 py-2 hover:bg-green-300 rounded text-white text-left flex items-center" do %>
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <span class="hidden md:inline-block ml-2">Order</span>
                <% end %>
            </li>

            <li>
                <%= link_to destroy_admin_session_path,data:{"turbo-method": :delete,"turbo-confirm":"Are you sure you wnat to logout?"},class:"block px-4 py-2 hover:bg-green-300 rounded text-white text-left" do%>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span class="hidden md:inline-block">Sign Out</span>
                <%end%>
            </li>
        </ul>
    </div>
</nav>
