
  <h1 class="text-2xl font-semibold whitespace-nowrap font-pacifico mt-24">Category</h1>


<div class="container mx-auto grid grid-cols-4 gap-4 mt-4 mb-4">
  <% @main_categories.each do |category| %>
    <div class="category-card p-4 bg-white shadow-md">
      <%= link_to category_path(category) do %>
        <div class="aspect-w-1 aspect-h-1 mb-2">
          <%= category.image.present? ? image_tag(category.image, class: "object-cover w-full h-full rounded-md") : image_tag("http://via.placeholder.com/512", class: "object-cover w-full h-full rounded-md") %>
        </div>
        <p class="text-center text-sm font-medium text-gray-700 truncate"><%= category.name %></p>
      <% end %>
    </div>
  <% end %>
</div>


<div class="bg-gray-500 text-white my-10 text-center py-20 mt-32">
  <h2 class="text-3xl font-bold mb-6">Stay Updated</h2>
  <p class="mb-8">Subscribe to our newsletter for the latest updates and offers.</p>
  <%= form_with url: root_path, method: :post, local: true, class: "flex justify-center" do %>
    <%= email_field_tag :email, nil, placeholder: "Enter your email", class: "p-2 rounded-l text-gray-800" %>
    <%= submit_tag "Subscribe", class: "bg-gray-700 hover:bg-gray-800 cursor-pointer text-white font-bold py-2 px-4 rounded-r" %>
  <% end %>
</div>