<div id="<%= dom_id stock %>" class="max-w-md mx-auto">
  <div class="rounded overflow-hidden shadow-lg">
    <div class="px-2 py-8 mt-6 ml-8">
      <p class="my-5">
        <strong class="block font-medium mb-1">Size: <%= stock.size %></strong>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Quantity: <%= stock.amount %></strong>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Product: <%= stock.product_id %></strong>
      </p>

      <% if action_name != "show" %>
        <%= link_to "Show this Stock", [:admin, stock.product, stock], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "Edit this stock", edit_admin_product_stock_path(stock.product, stock), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <% end %>
    </div>
  </div>
</div>
