<div id="<%= dom_id category %>">
  <%= image_tag category.image if category.image.attached? %>
  <p class="my-5">
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p class="my-5">
    <strong>Description:</strong>
    <%= category.description %>
  </p>

  <% if action_name!="show"%>
   <%= link_to "Show this Category",[:admin,category],class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"%>
   <%= link_to "Edit this Category",edit_admin_category_path(category),class:"rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"%>
    <hr class="mt-6">
  <%end%>

</div>
