<div class="max-w-md mx-auto mt-8 p-6 bg-green-200 rounded-lg">
    <p class="text-green-600"><%= notice %></p>

    <%= render @admin_category %>

    <div class="mt-4 flex items-center justify-between">
        <%= link_to "Edit", edit_admin_category_path(@admin_category), class: "text-indigo-600 hover:text-indigo-800" %> |
        <%= link_to "Back to categories", admin_categories_path, class: "text-indigo-600 hover:text-indigo-800" %> |
        <%= link_to "Destroy", admin_category_path(@admin_category), method: :delete, data: { turbo_confirm: 'Are you sure?', "turbo-method": :delete }, class: "text-red-600 hover:text-red-800" %>
    </div>
</div>
