<div class="mt-20 p-6">
  <div class="w-full">
    <% if notice.present? %>
      <p style="color: green"><%= notice %></p>
    <% end %>
    <div class="flex justify-center items-center mt-5 ml-6">
  <h1 class="font-bold text-gray-600 text-center text-4xl mb-2"><%= @category.name %></h1>
</div>

  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 px-2 mb-4 pt-12">
    <% if @products.empty? %>
      <p class="text-2xl text-left text-gray-800 col-span-full">No Products Found</p>
    <% else %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="border border-purple-200 p-4 rounded-lg hover:shadow-lg hover:shadow-pink-400 transition duration-300 transform hover:scale-110 mb-4">
            <%= image_tag product.image if product.image.attached? %>
            <p class="text-center block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"><%= product.name %></p>
            <p class="text-center">Price: Rs <%= product.price %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
